* {
  box-sizing: border-box;
}
.checkbox {
  display: flex;
  position: relative;
  margin: 16px;
  padding-left: 35px;
  font-size: 24px;
}

input {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #d3d3d3;
  position: absolute;
  top: 0;
  left: 0;
}
.checkbox input:checked + span {
  background-color: #006400;
}
