.borders-of-rectangles {
border: 2px solid black;
}
.blue-frame {
    padding: 50px;
    margin: 50px;
    background-color: blue;
}
.yellow-frame {
    padding: 50px;
    background-color: yellow;
}
.green-frame {
    padding: 50px;
    background-color: green;
}
.pink-frame {
    padding: 50px;
    background-color: pink;
}
