* {
  box-sizing: border-box;
}
html {
  line-height: 0;
}
.image-container {
  position: relative;
}
.image {
  display: block;
  margin: auto;
  max-width: 100%;
}
.image-button {
  width: 200px;
  line-height: 50px;
  background-color: bisque;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  filter: opacity(0.5);
  cursor: pointer;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 100px);
  text-align: center;
}
.image-button:hover {
  filter: opacity(1);
}
