* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* выбор семейства шрифтов для всего документа*/
  font-size: 16px; /* установка размера шрифта для всего документа */
  color: #555; /* цвет текста для всего документа */
}

body {
  display: flex; /* гибкий контейнер для header, main, footer элементов */
  font-family:
  flex-direction: column; /* изменение главной оси флекс контейнера */
  min-height: 100vh; /* минимальная высота контейнера, чтобы footer был прижат к низу страницы */
}

.header {
  display: flex; /* гибкий контейнер для h1 элемента */
  justify-content: center; /* оцентрирование h1 элемента */

  color: white; /* цвет заголовка */
  background-image: linear-gradient(
    60deg,
    red,
    orange
  ); /* фон заголовка - градиентная заливка */
}

.main {
  display: flex; /* гибкий контейнер для nav, section, aside элементов */
  flex-direction: column; /* изменение главной оси флекс контейнера */
  flex: 1; /* задает flex-basis: 0%; flex-grow: 1; flex-shrink: 1; тоесть растягивает и сжимает елементы в контейнере на всю его ширину вместе с контейнером. Footer остаётся прижатым к низу страницы */
}

/* .navigation,
.section,
.news {
  width: 100%;
} */

.navigation {
  /* навигация сайта */
  padding: 0.5em; /* внутренние отступы для элементов навигации */
}

.nav-list {
  padding: 0; /* удаление отступов по умолчанию для списка */
}

.nav-list-item {
  /* ячейки навигации */
  background-color: #808080; /* фон для ячеек навигации */
  line-height: 2em; /* высота ячеек навигации */
  margin-bottom: 0.5em; /* нижний отступ для ячеек навигации */
  white-space: nowrap; /* запрет переносить текст на следующую строку при сжатии экрана */
  overflow: hidden; /* обрезка текста при сжатии экрана */
  text-overflow: ellipsis; /* троеточие вместо обрезанного текста при сжатии экрана */
}

.nav-list-link {
  /* текст в ячейках навигации */
  color: white; /* цвет ссылок */
  padding: 0.5em; /* внутренний отступ для ячеек с ссылками */
  text-decoration: none; /* удаление линии подчёркивания */
}

.section {
  /* средняя секция сайта */
  padding: 0.5em; /* внутренний отступ для элементов секции */
  font-size: 1.25em; /* увеличение шрифта для элементов средней секции */
}

.section__header {
  /* заголовок средней секции */
  font-size: 5vw; /* размер текста заголовка */
  text-align: center; /* оцентрирование заголовка */
}

picture {
  margin: auto; /* оцентрирование картинки по горизонтали */
}
img {
  max-width: 100%; /* Картинка по умолчанию. Будет сохранять пропорции и не искажать изображение при её уменьшени */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.units-list {
  /* список средней секции */
  line-height: 1.75em; /* ширина между элементами списка */
}

.css-units {
  /* название элементов в списке */
  color: #8b0000; /* цвет текста */
  background-color: #e5e5e5; /* фон */
  font-size: 1.125em; /* увеличение размера шрифта */
  font-weight: 700; /* увеличение насыщености */
  text-decoration: none;
}

.news {
  /* правая секция новостей */
  padding: 0.5em; /* внутренний отступ для элементов секции новостей */
}

.footer {
  /* нижняя секция сайта */
  display: flex; /* гибкий контейнер для нижнего текста */
  justify-content: center; /* оцентрирование нижнего текста */
  background-color: #e5e5e5; /* фон */
  padding: 0.5em; /* внутренний отступ для элементов нижней секции */
  /*
  margin-top: auto; - это альтернативный способ прижать footer к низу страницы, если не использовать min-height: 100vh;
  */
}

@media screen and (min-width: 600px) {
  .main {
    flex-direction: unset; /* вернуть размещение флекс элементов по главной оси */
    flex-wrap: wrap;
  }
  .navigation {
    width: 20%; /* выделена ширина для навигации */
  }
  .section {
    /* средняя секция сайта */
    width: 80%; /* выделена ширина для основной секции сайта */
  }
  .news {
    /* правая секция новостей */
    width: 100%; /* выделена ширина для нижней секции новостей */
  }
}

@media screen and (min-width: 1200px) {
  .main {
    flex-direction: unset; /* вернуть размещение флекс элементов по главной оси */
  }

  .navigation {
    width: 20%; /* выделена ширина для навигации */
  }
  .section {
    /* средняя секция сайта */
    width: 60%; /* выделена ширина для средней секции сайта */
  }
  .news {
    /* правая секция новостей */
    width: 20%; /* выделена ширина для правой секции новостей */
  }
}
