html {
  font-family: Arial, Helvetica, sans-serif; /* вид шрифта для всего документа */
  font-size: 16px; /* размер шрифта для всего документа */
}

.header {
  height: 3em; /* высота заглавочного блока */
  padding: 0 1em; /* внутренние боковые отступы заглавочного блока по 16 пикселей */
  background-color: #eee; /* фон заголовочного блока */
  display: flex; /* гибкий контейнер для button элемента */
  align-items: center; /* оцентрирование кнопки по вертикали */
}
button {
  padding: 0; /* убрать внутренние отступы кнопки */
  border: none; /* убрать границу кнопки */
  cursor: pointer; /* вид курсора при наведении на кнопку */
}
i {
  font-size: 2em; /* размер иконки */
}

.navigation {
  width: 20vw; /* ширина экрана для навигации */
  margin: 0.5em; /* внутренние отступы для навигации */
}
.nav-list {
  padding: 0; /* удаление внутренних отступов по умолчанию */
}
.nav-list-item {
  list-style-type: 0; /* удаление точек перед текстом */
  background-color: #808080; /* фон элементов навигации */
  margin: 0.5em; /* отступы между элементами меню */
  display: flex; /* гибкий контейнер для ссылок элементов навигации */
  height: 2em; /* высота элементов навигации */
}
.nav-list-link {
  width: 100%; /* ссылка на всю ширину навигации */
  padding: 0.5em; /* внутренний отступ текста от краёв элемента */
  color: white; /* цвет ссылок */
  text-decoration: none; /* удаление линий подчёркивания ссылок */
  overflow: hidden; /* обрезать текст при уменьшении экрана */
  white-space: nowrap; /* запрет переносить текст на следующую строку */
  text-overflow: ellipsis; /* троеточие вместо обрезанного текста */
}

@media screen and (max-width: 599px) {
  /* если ширина єкрана меньше 600 пикселей, то */
  .main {
    /* в теле сайта */
    display: none; /* скрыть все элементы */
  }
}

@media screen and (min-width: 600px) {
  /* если ширина экрана больше 600 пикселей, то */
  button {
    /* в оглавлении сайта */
    display: none; /* скрыть иконку */
  }
}
