body {
  background-color: antiquewhite;
}
.rectangleparameters {
  width: 512px;
  height: 128px;
  padding: 16px;
  margin: 16px;
  /*border: 8px solid black;*/
  border-width: 10px;
  border-style: solid;
  border-color: black;
}
.rectangle1 {
  background-color: aquamarine;
}
.rectangle2 {
  box-sizing: initial;
  background-color: azure;
}
