* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.page {
  max-width: 100%;
}
@media screen and (min-width: 1400px) {
  .page {
    max-width: 1400px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}

.top-section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 1400px) {
  .top-section {
    background-color: #f3c6bd;
    padding-top: 39px;
  }
}

.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
@media screen and (min-width: 1400px) {
  .header {
    width: 1140px;
    height: 62px;
    background-color: #f3c6bd;
    margin: auto;
    display: flex;
    position: relative;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
  }
}
.header__menu-button {
  width: 58px;
  height: 100%;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1490196078);
  margin-left: auto;
  background: transparent;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  display: inline-block;
  width: 18px;
  height: 14px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
  opacity: 0.6;
}

.button__blue {
  width: 160px;
  height: 48px;
  padding: 0;
  border: none;
  border-radius: 2px;
  background-color: #3040c4;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.logo {
  display: flex;
}
.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    opacity: 0.6;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
}
.navigation__item {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 50px;
  color: #2b292d;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item_selected {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}
.navigation__arrow {
  width: 8px;
  height: 5px;
  position: absolute;
  top: 19px;
  left: 916px;
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    padding-bottom: 77px;
    display: flex;
  }
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
.headline__title {
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: -0.31px;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    margin: 0;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
  }
}
.headline__description {
  font-size: 24px;
  line-height: 34px;
  margin-top: 24px;
  margin-bottom: 0;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    width: 456px;
    height: 102px;
    margin-top: 34px;
    z-index: 1;
  }
}
.headline__actions {
  margin-top: 32px;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
}
@media screen and (max-width: 1399px) {
  .headline__actions-btn {
    width: 100%;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: relative;
    margin-left: auto;
    top: 0;
    right: -105px;
    width: 796px;
    height: 448px;
  }
}
.headline__learn-more-btn {
  width: 160px;
  height: 48px;
  padding: 0;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  color: #3040c4;
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
}
@media screen and (min-width: 1400px) {
  .headline__learn-more-btn {
    margin-left: 10px;
    margin-top: 0;
  }
}

.about {
  width: 100%;
  padding: 46px 15px;
  background: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px;
  }
}

.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 6px;
}
@media screen and (min-width: 1400px) {
  .article {
    width: 556px;
  }
}

.customers {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .customers {
    width: 1140px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 106px;
    flex-direction: row;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: none;
  }
}
.customers__item:last-child {
  border-right: none;
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

.tips {
  margin-top: 8px;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid #e3e3e3;
}
.tip__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0px;
  color: #009b4d;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.36px;
}
.tip__discrription {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
}
.tip__decoration {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tip_image {
  margin-top: 28px;
}
.tip_image-caption {
  font-size: 14px;
  line-height: 22px;
  margin-top: 20px;
  max-width: 100%;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

.features {
  display: flex;
  width: 1140px;
  margin: auto;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features__column {
  width: 459px;
}
.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  margin: 0;
}
.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-bottom: 0;
  margin-top: 23px;
}
.features__description {
  font-size: 24px;
  line-height: 34px;
  margin-top: 31px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
}
.features__advantage-header {
  margin-top: 42.86px;
  display: flex;
}
.features__advantage-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142c6;
  margin: 0;
  margin-left: 15px;
}
.features__advantage-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
}
.features__advantage__advantage-item {
  display: flex;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1490196078);
  margin-top: 21px;
  padding-bottom: 22px;
}
.features__advantage__advantage-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}
.features__left-decoration {
  position: relative;
  width: 168px;
  height: 168px;
  top: 257px;
  left: -415px;
}
.features__right-banner {
  position: relative;
  right: -130px;
  bottom: 0;
}

.order {
  padding: 50px 15px;
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .order {
    padding: 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.order__illustration {
  max-width: 200px;
  margin: auto;
}
@media screen and (min-width: 1400px) {
  .order__illustration {
    max-width: 270px;
    margin: 0;
    margin-right: 122px;
  }
}
.order__details {
  max-width: 555px;
}
.order__title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.25px;
  text-align: center;
}
.order__text {
  margin: 0;
  margin-top: 18px;
  font-size: 22px;
  line-height: 32px;
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  margin-top: 79px;
  border: 1px solid rgba(43, 41, 45, 0.2);
  width: 100%;
  height: 48px;
  border-radius: 2px;
  border-width: 1px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-top: 0;
  }
}
.order__email::placeholder {
  color: #2b292d;
}
.order__button {
  margin-top: 12px;
}
@media screen and (max-width: 1399px) {
  .order__button {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
    flex-shrink: 0;
  }
}
.order__terms {
  margin-top: 10px;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
.order__terms-link {
  color: #3142c6;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.footer-navigation {
  display: flex;
  flex-direction: column;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    width: 1140px;
    height: 338px;
    flex-direction: row;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1399px) {
  .footer-description {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  .footer-description {
    width: 360px;
    margin-top: 26px;
    font-size: 18px;
    line-height: 26px;
    opacity: 0.6;
  }
}
.footer__line {
  width: 100%;
  border-top: 1px solid #2b292d;
  opacity: 0.1;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .footer__line {
    margin: 25px 0 0 0;
  }
}
.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    height: 50px;
    flex-direction: row;
    width: 1140px;
    margin: 0 auto;
    align-items: center;
  }
}
@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}

.about-company {
  margin-top: 43px;
}

.additional-navigation {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1399px) {
  .additional-navigation {
    flex-direction: row;
    margin-left: auto;
    margin-top: 60px;
  }
}
.additional-navigation__column {
  margin-top: 30px;
}
@media screen and (max-width: 1399px) {
  .additional-navigation__column {
    margin-right: 29px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1400px) {
  .hide_desktop {
    display: none;
  }
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  margin: 0;
}
.nav-links__list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.6;
  padding: 0;
  margin: 0;
  margin-top: 18px;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}
.logo-vertical__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

.downloads {
  margin: 25px 15px 0 15px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1399px) {
  .downloads {
    justify-content: left;
    margin: 0;
  }
}
.downloads__item {
  margin-right: 10px;
}

@media screen and (max-width: 1399px) {
  .hide_mobile {
    display: none;
  }
}

.terms {
  font-size: 14px;
  line-height: 22px;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .terms {
    line-height: 50px;
    margin-top: 0;
  }
}
.terms__item {
  text-decoration: none;
  opacity: 0.6;
  margin-right: 22px;
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin-left: auto;
    margin-bottom: 0;
  }
}
.social-links__item {
  margin-left: 20px;
}
.social-links__item:first-child {
  margin-left: 0;
}

/*# sourceMappingURL=styles.css.map */
