.container {
  display: flex; /* создание гибкого контейнера */
  height: 100vh; /* высота контейнера равна высоте видимой части контейнера */
  justify-content: center; /* размещение элементов контейнера по горизонтали (главной оси контейнера) */
  align-items: center; /* размещение элементов контейнера по вертикали (второстепенной оси контейнера) */
}

.square {
  width: 100px; /* ширина элементов */
  height: 100px; /* высота элементов */
  background-color: #8a2be2; /* цвет (фон) элементов */
  margin: 8px; /* отступы между элементами */
}

@media screen and (orientation: portrait) {
  /* для пользователей с ограниченными возможностями
    если ориентация вертикальная, то: */
  .container {
    flex-direction: column; /* элементы флекс контейнера размещаются по вертикали */
  }
}

@media screen and (max-width: 600px) {
  /* для пользователей с ограниченными возможностями
    если ширина экрана не превышает 600 пикселей то: */
  .square {
    background-color: #ff7f50; /* цвет (фон) элементов меняется */
  }
}
