.container {
  height: 100vh;
  display: flex;
}

.spinner {
  position: relative;
  margin: auto;
}

.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
}

.rect {
  background-color: black;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
}

.animation-blinking {
  animation: blinking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.animation-miving {
  animation: moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
