html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #555;
}

.header {
  display: flex;
  justify-content: center;
  color: white;
  background-image: linear-gradient(60deg, red, orange);
}

.main {
  display: flex;
}

.navigation {
  width: 20%;
  padding: 0.5em;
}

.nav-list {
  padding: 0;
}

.nav-list-item {
  background-color: #808080;
  line-height: 2em;
  margin-bottom: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-list-link {
  color: white;
  padding: 0.5em;
  text-decoration: none;
}

.section {
  width: 60%;
  padding: 0.5em;
  font-size: 1.25em;
}

.section__header {
  font-size: 5vw;
  text-align: center;
}

.units-list {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
  text-decoration: none;
}

.news {
  width: 20%;
  padding: 0.5em;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
  padding: 0.5em;
}

/* 
не знаю как выполнить п. 3 - прижать к нижней части границе используя flexbox. 
Как прижать footer к нижней части границы с помощью position: absolute - знаю 

body {
  position: relative;
}

.footer {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #e5e5e5;
  padding: 0.5em;
  top: 100vh;
}
*/