* {
  box-sizing: border-box;
}
body {
  background-color: bisque;
}
.page {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
}
.login-form {
  background-color: aqua;
  font-family:'Courier New', Courier, monospace;
  font-size: 16px;
  width: 300px;
  padding: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}
.form-title {
  text-align: center;
  text-transform: uppercase;
}
.form-control {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}
.form-label {
  margin-bottom: 4px;
}
.form-input {
  flex-grow: 0;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 4px;
  outline: none;
}
.submit-button {
  height: 32px;
  border-radius: 4px;
  background-color: #ff7f50;
  margin-top: 16px;
  text-transform: uppercase;
  color: white;
}
input:invalid {
  border: 3px solid red;
}


/*
#userName:invalid {
  border: 3px solid red;
}
*/