* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	color: #fff;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	// max-width: 100%;
}

.block-panels {
	width: 1440px;
	height: 1000px;
	background-color: #141b1c;
	display: flex;
}

.panel {
	width: 380px;
	height: 770px;
	background-color: #334247;
	box-shadow: 0px 6px 6px 0px #00000016;
	margin: 115px 0;

	&:first-child {
		margin-left: 132px;
		margin-right: 18px;
	}

	&:nth-child(2) {
		margin-right: 18px;
	}

	&:last-child {
		margin-right: 132px;
	}

	&-basic {
		display: flex;
		flex-direction: column;

		&__name {
			width: 106px;
			height: 67px;
			margin: 32px 137px 31px 137px;
			text-align: center;

			&_rate {
				font-size: 35px;
			}

			&_website {
				font-size: 20px;
				line-height: 24px;
			}
		}

		&__price {
			height: 105px;
            display: flex;
			background-color: #5bb189;

			&_sum {
				font-size: 55px;
                margin: 19px 132px;
                text-align: center;
			}
		}
	}
}
